/* Se importa los recursos de las fuentes de Google */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");

/* Se agrgan propiedades generales */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Dosis", sans-serif;
}

h4,
p {
  font-family: "Playfair Display", serif;
  display: grid;
}
/* Responsive para Tablet */
@media only screen and (max-width: 1024px) and (min-width: 479px) {
  /* Steven */
  /* Header */
 main {
  padding: 1rem;
 }

  .flexLeft > .slideBar {
    position: fixed;
    width: 30%;
    padding: 0 2%;
    min-height: 100vh;
    background-color: #69bf97;
  }

  .flexRight{
    width: 66%;
    position: absolute;
    right: 0;
  }

  .containerHeader {
    max-width: 100vw;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #009458;
  }
  /* Menú Hamburguesa */
  .icon {
    display: none;
  } 
  /* Sección Búsqueda */
  .containerHeader > .search > .iconSearch > input {
    width: 60%;
    padding: 0.5rem 0 0.5rem 2.5rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-family: "Playfair Display", serif;
  }

  /* Icono de lupa */
  .search > .iconSearch {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }

  .iconSearch > .circle {
    width: 1rem;
    height: 1rem;
    padding: .2rem;
    border-radius: 50%;
    position: absolute;
    top: .5rem;
    left: .3rem;
    background: #000000;
    z-index: 3;
  }

  .iconSearch > .circle > .circleWhite {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff;
    z-index: 2;
  }

  .iconSearch > .line {
    width: .7rem;
    height: .3rem;
    border-radius: 3rem 0 0 3rem;
    position: absolute;
    bottom: .7rem;
    left: 1.4rem;
    background: #000000;
    transform: rotate(45deg);
    z-index: 1;
  }

  /* Sección Usuario */
  .containerHeader > .userFlex {
    width: 11rem;
    height: 2.2rem;
    padding: .3rem;
    border-radius: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.5);
  }

  /* Icono de usuario */
  .userFlex > .user {
    margin: 0 5px;
  }

  .user > .iconUserHead {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 .3rem;
    border-radius: 50%;
    background-color: #FFFFFF;
  }

  .user > .iconUserBody {
    width: 1.8rem;
    height: .7rem;
    margin: .2rem 0;
    border-radius: 50% 50% 0 0;
    background-color: #FFFFFF;
  }

  /* Menu lateral */
  /* Logo */
  .slideBar > .logo {
    width: 50%;
    margin: 1.5rem auto;
    padding: 0.8rem;
    border-radius: 50%;
    background-color: #009458;
  }

  .slideBar > hr {
    border-color: #000000;
  }
  /* Lista de opcines */
  .slideBar > .menu > ul{
    padding: 0;
  }

  .menu > ul > li > a{
    display: flex;
    flex-wrap: wrap;
    color: #000000;
    text-decoration: none;
  }

  /* Opción activada */
  .menu > ul > .active{
    border: 2px solid #009458;
    border-radius: 1.3rem;
  }

  .menu > ul > li{
    list-style: none;
    margin: 3rem 0;
    padding: 0.5rem;
  }

  .menu > ul > li > a > .photoStudent,
  .photoStudent > img  {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  .photoStudent {
    padding: 0.2rem;
    background-color: #d9d9d9;
  }

  .photoStudent > img {
    vertical-align: middle;
  }
  
  .menu .nameStudent {
    padding-left: 0.3rem;
    font-size: clamp(.78rem, 1vw, 2rem);
    line-height: 20px;
  }

  .nameStudent > h3,
  .nameStudent > h4 {
    margin: 2px 0;
    text-transform: capitalize;
  }

  /* Boton de cerrar sesión */
  .logOut > a {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Dosis", sans-serif;
    
  }
  .logOut {
    width: 70%;
    margin: auto;
    padding: 0.8rem;
    text-align: center;
    border-radius: 50px;
    background-color: #009458;
  }
  .welcome {
    width: 100%;
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .welcome > .photoStudent {
    width: 30%;
    padding: 0.8rem;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #009458;
  }

  .welcome > .photoStudent > img {
    border-radius: 50%;
    background-color: #b9b9b9;
  }

  .welcome > .description {
    width: 80%;
    padding: 8px;
  }

  .description > h2 {
    font-size: 35px;
    text-transform: capitalize;
    text-align: center;
  }

  .description > p {
    font-size: 20px;
    text-align: justify;
  }
}

/* Responsive para Mobile */
@media only screen and (max-width: 480px) {
  /* Steven */
  /* Header */
  .slideBar {
    display: none;
  }
  
  .containerHeader {
    max-width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #009458;
  }
  /* Menú Hamburguesa */
  .containerHeader > .icon {
    width: 2rem;
  }

  .icon > hr {
    font-size: 12px;
    border: 3px solid #ffffff;
    border-radius: 2.5rem;
  }

  /* Sección Búsqueda */
  .containerHeader > .search > .iconSearch > input {
    width: 60%;
    padding: 0.8rem 0 0.8rem 2.5rem;
    border: none;
    border-radius: 3rem;
    text-transform: capitalize;
    font-family: "Playfair Display", serif;
  }

  /* Icono de lupa */
  .search > .iconSearch {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
  }

  .iconSearch > .circle {
    width: 15px;
    height: 15px;
    padding: 4px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 6px;
    background: #000000;
    z-index: 3;
  }

  .iconSearch > .circle > .circleWhite {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 50%;
    z-index: 2;
  }

  .iconSearch > .line {
    width: 12px;
    height: 5px;
    transform: rotate(45deg);
    position: absolute;
    bottom: 11px;
    left: 22px;
    border-radius: 3rem 0 0 3rem;
    background: #000000;
    z-index: 1;
  }
  

  /* Sección Usuario */
  .userFlex > h3 {
    display: none;
  }

  .containerHeader > .userFlex {
    width: 65px;
    height: 35px;
    padding: 4px;
    border-radius: 3rem;
    background-color: rgba(245, 245, 245, 0.5);
  }

  /* Icono de usuario */
  .user > .iconUserHead {
    width: 1.2rem;
    height: 1.2rem;
    margin: auto;
    border-radius: 50%;
    background-color: #FFFFFF;
  }

  .user > .iconUserBody {
    width: 1.8rem;
    height: .7rem;
    margin: .2rem auto;
    border-radius: 50% 50% 0 0;
    background-color: #FFFFFF;
  }

  /* Main */
  /* Seccion Bienvenida */
  .welcome {
    max-width: 100%;
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .welcome > .photoStudent {
    width: 30%;
    padding: 0.8rem;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #009458;
  }

  .welcome > .photoStudent > img {
    border-radius: 50%;
    background-color: #b9b9b9;
  }

  .welcome > .description {
    width: 80%;
    padding: 8px;
  }

  .description > h2 {
    font-size: 35px;
    text-transform: capitalize;
    text-align: center;
  }

  .description > p {
    font-size: 20px;
    text-align: justify;
  }

  /* Sección Diplomados */
  /* Contenedor */
  .agreeContainer {
    max-width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .agreeContainer > a {
    text-decoration: none;
  }

  .agreeContainer > a > .agree {
    width: 80%;
    margin: 10px auto;
    padding: 15px 0;
    color: #000000;
    border: 5px solid #000000;
    border-radius: 2rem;
    text-align: center;
  }

  .agreeContainer > a > .active {
    border: 5px solid #009458;
    background-color: rgba(105, 191, 151, 0.8);
  }

  /* Contenido */
  .agree > h2 {
    text-transform: uppercase;
    font-size: 25px;
  }

  .agree > img {
    object-fit: cover;
    border-radius: 50%;
  }

  .agree > h3 {
    text-transform: capitalize;
    line-height: 25px;
  }
  .agree > h3 > span {
    text-transform: uppercase;
  }

  .agree > p {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
  }

  /* Sección gráfica media luna */
  /* Título y descripcián de la gráfica */
  .stateOfMind {
    max-width: 100%;
    margin: 15px 0;
    padding: 15px;
  }

  .stateOfMind > .titleState > h1 {
    font-size: 30px;
    text-align: center;
    animation-duration: 3s;
    animation-name: slidein;
  }

  .stateOfMind > .titleState > h3 {
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    animation-duration: 1s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  /* Gráfica media luna */
  .graphContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .graphContainer > .graphCircle {
    position: relative;
    width: 12rem;
    height: 12rem;
    margin: 15px auto;
    border-radius: 50%;
  }

  .graphContainer > .happy {
    background: linear-gradient(125deg, #ff8a00 50%, #000000 50%);
  }
  .graphContainer > .indifferent {
    background: linear-gradient(90deg, #ff0000 50%, #000000 50%);
  }
  .graphContainer > .sad {
    background: linear-gradient(45deg, #001aff 50%, #000000 50%);
  }

  .graphCircle > .circle {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    text-align: center;
  }

  .graphCircle > .circleOuter {
    padding: 1em;
    box-sizing: border-box;
    background: #ffffff content-box;
  }

  .graphCircle > .circleInner {
    background: linear-gradient(transparent 50%, #ffffff 50%);
    transform: scale(1.1);
  }

  .graphCircle > .circleInner > h3 {
    margin-top: 3.2rem;
    font-size: 18px;
    text-transform: capitalize;
    animation-duration: 3s;
    animation-name: slidein;
  }

  /* Edwar */
  /* Daniela */
}
