/* Se importa los recursos de las fuentes de Google */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");

/* Se agregan propiedades generales */
body {
  max-width: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Dosis", sans-serif;
}

h4,
p {
  font-family: "Playfair Display", serif;
}

/* Responsive para Mobile */

/* Steven */
/* Header */
.slideBar {
  display: none;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #009458;
}

/* Menú Hamburguesa */
.containerHeader > .icon {
  width: 2rem;
}

.icon > hr {
  font-size: 0.82rem;
  border: 3px solid #ffffff;
  border-radius: 2.5rem;
}

/* Sección Búsqueda */
.search {
  width: 50%;
}

/* Icono de lupa */
.search > .iconSearch {
  position: relative;
}

.iconSearch > .circle {
  width: 0.93rem;
  height: 0.93rem;
  padding: 0.25em;
  border-radius: 50%;
  position: absolute;
  top: 0.5rem;
  left: 0.375rem;
  background: #000000;
  z-index: 3;
}

.circle > .circleWhite {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 2;
}

.iconSearch > .line {
  width: 0.75rem;
  height: 0.35rem;
  position: absolute;
  bottom: 0.6rem;
  left: 1.375rem;
  transform: rotate(45deg);
  background: #000000;
  z-index: 1;
}

/* Campo de texto */
.iconSearch > input {
  width: 60%;
  padding: 0.65em 0 0.65em 2.5em;
  border: none;
  border-radius: 3rem;
  font-size: clamp(1rem, 4vw, 1.2rem);
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
}

/* Sección Usuario */
.userFlex > h3 {
  display: none;
}

.containerHeader > .userFlex {
  width: calc(12vw + 3rem);
  height: 2.2rem;
  padding: 0.25rem;
  border-radius: 3rem;
  background-color: rgba(245, 245, 245, 0.5);
}

/* Icono de usuario */
.user > .iconUserHead {
  width: 1.1rem;
  height: 1.2rem;
  margin: auto;
  border-radius: 50%;
  background-color: #ffffff;
}

.user > .iconUserBody {
  width: 2rem;
  height: 0.7rem;
  margin: 0.2rem auto;
  border-radius: 50% 50% 0 0;
  background-color: #ffffff;
}

/* Main */
/* Seccion Bienvenida */
.welcome {
  margin: 6.25rem 0 1.9rem 0;
  padding: 0.62rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome > .photoStudent {
  height: 6rem;
  padding: 0.75rem;
  border-radius: 50%;
  background-color: #69bf97;
}

.welcome > .photoStudent > img,
.agree > img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.welcome > .description {
  width: 80%;
  padding: 0.5rem 0.75rem;
}

.description > h2,
.stateOfMind > .titleState > h1 {
  font-size: clamp(1.8rem, 5vw, 3.2rem);
  text-transform: capitalize;
  text-align: center;
}

.description > p {
  font-size: clamp(1.2rem, 3vw, 2rem);
  line-height: clamp(1.8rem, 4vw, 2.5rem);
  text-align: justify;
}

/* Sección Diplomados */
/* Contenedor */
.agreeContainer {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agreeContainer > a {
  text-decoration: none;
}

.agreeContainer > a > .agree {
  width: 17rem;
  margin: 0.32rem 0;
  padding: 1em 0;
  color: #000000;
  border: 5px solid #000000;
  border-radius: 2rem;
  text-align: center;
}

.agreeContainer > a > .active {
  border: 5px solid #009458;
  background-color: rgba(105, 191, 151, 0.8);
}

/* Contenido */
.agree > h2 {
  text-transform: uppercase;
  font-size: clamp(1.5rem, 4vw, 1.8rem);
}

.agree > h3:last-of-type,
.agree > p {
  display: none;
}

.agree > h3 {
  text-transform: capitalize;
  line-height: clamp(1.8rem, 4vw, 2.2rem);
}

.agree > h3 > span {
  text-transform: uppercase;
}

/* Sección gráfica media luna */
/* Título y descripcián de la gráfica */
.stateOfMind {
  margin: 1rem 0;
  padding: 1rem;
}

.stateOfMind > .titleState > h4 {
  padding: 1.25rem;
  font-size: clamp(1.25rem, 3vw, 2rem);
  font-weight: 400;
  text-align: justify;
  line-height: clamp(1.8rem, 4vw, 2.5rem);
}

/* Gráfica media luna */
.graphContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.graphContainer > .graphCircle {
  position: relative;
  width: 12rem;
  height: 12rem;
  margin: 1rem;
  border-radius: 50%;
  z-index: 1;
}

/* Color Circulo principal */
.graphContainer > .happy {
  background: linear-gradient(125deg, #ff8a00 50%, #000000 50%);
}

.graphContainer > .indifferent {
  background: linear-gradient(90deg, #ff0000 50%, #000000 50%);
}

.graphContainer > .sad {
  background: linear-gradient(45deg, #001aff 50%, #000000 50%);
}

.graphCircle > .circle {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  text-align: center;
}

/* Circulo Externo o principal */
.graphCircle > .circleOuter {
  padding: 1em;
  box-sizing: border-box;
  background: #ffffff content-box;
}

/* Circulo interno */
.graphCircle > .circleInner {
  background: linear-gradient(transparent 50%, #ffffff 50%);
  transform: scale(1.1);
}

.graphCircle > .circleInner > h3 {
  margin-top: 3.2rem;
  font-size: clamp(1.12rem, 2vw, 1.6rem);
  text-transform: capitalize;
}

/* Responsive para Tablet Pequeña */
@media only screen and (min-width: 480px) {
  body {
    max-width: inherit;
  }

  /* Sección Búsqueda */
  /* Campo de texto */
  .iconSearch > input {
    width: 80%;
    padding: 0.5rem 0 0.5rem 2.5rem;
  }

  /* Main */
  /* Sección Diplomados */
  /* Contenedor */
  .agreeContainer > a > .agree {
    width: 22rem;
    margin: 0.32rem;
  }

  .agree > h3:last-of-type,
  .agree > p {
    margin: 1rem;
    display: inline-block;
  }

  /* Sección gráfica media luna */
  .agreeContainer,
  .graphContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

/* Responsive para Tablet Grande */
@media only screen and (min-width: 768px) {
  /* Steven */

  /* Header */
  header {
    position: static;
  }

  main {
    padding: 1rem;
  }

  /* Porporción para menú lateral y el contenido Header y Main */
  .flexLeft > .slideBar {
    position: fixed;
    width: 30%;
    padding: 0 2%;
    min-height: 100vh;
    background-color: #69bf97;
    display: block;
  }

  .flexRight {
    width: 66%;
    position: absolute;
    right: 0;
  }

  /* Menú Hamburguesa */
  .icon {
    display: none;
  }

  /* Sección Usuario */
  .containerHeader > .userFlex {
    width: 11rem;
    height: 2.3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  /* Icono de usuario */
  .userFlex > .user {
    margin: 0 0.8rem;
  }

  .user:hover {
    transform: scale(0.8);
    transition: 2000ms;
  }

  .user:hover .iconUserHead,
  .user:hover .iconUserBody {
    background-color: #009458;
  }

  .userFlex > h3 {
    display: block;
  }

  /* Menu lateral */
  /* Logo */
  .slideBar > .logo {
    width: 50%;
    margin: 1.5rem auto;
    padding: 0.8rem;
    border-radius: 50%;
    background-color: #009458;
  }

  .slideBar > hr {
    border-color: #000000;
  }
  /* Lista de opcines */
  .slideBar > .menu > ul {
    padding: 0;
  }

  .menu > ul > li > a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: #000000;
    text-decoration: none;
  }

  /* Opción activada */
  .menu > ul > .active {
    border: 2px solid #009458;
    border-radius: 1.3rem;
  }
  /* End Opción activada */

  .menu > ul > li {
    list-style: none;
    margin: 3rem 0;
    padding: 0.5rem;
  }

  .menu > ul > li > a > .photoStudent,
  .photoStudent > img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    vertical-align: middle;
    object-fit: cover;
  }

  .photoStudent {
    padding: 0.25rem;
    background-color: #d9d9d9;
  }

  .menu .nameStudent {
    font-size: clamp(0.9rem, 1vw, 2rem);
    line-height: clamp(1rem, 2vw, 2rem);
  }

  .nameStudent > h3,
  .nameStudent > h4 {
    margin: 2px 0;
    text-transform: capitalize;
  }

  /* Boton de cerrar sesión */
  .logOut {
    width: 70%;
    margin: auto;
    padding: 0.8rem;
    text-align: center;
    border-radius: 3rem;
    background-color: #009458;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.8rem;
  }

  .logOut > a {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-family: "Dosis", sans-serif;
  }

  /* Main */
  /* Seccion Bienvenida */
  .welcome {
    margin: auto;
  }

  .welcome > .photoStudent,
  .welcome > .description {
    width: auto;
    height: auto;
  }

  /* Sección Diplomados */
  /* Contenedor */
  .agree > p {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
  }

  /* Sección gráfica media luna */
  /* Título y descripcián de la gráfica */
  .stateOfMind > .titleState > h4 {
    padding: 1.25rem 0;
  }
}

/* Responsive para Laptop */
@media only screen and (min-width: 1024px) {
  /* Porporción para menú lateral y el contenido Header y Main */
  .flexLeft > .slideBar {
    width: 25%;
  }

  .flexRight {
    width: 71%;
  }

  /* Menu lateral */
  .menu > ul > li > a > .photoStudent,
  .photoStudent > img {
    width: 3.5rem;
    height: 3.5rem;
  }

  /* Sección Búsqueda */
  .search {
    width: 100%;
  }

  /* Main */
  /* Seccion Bienvenida */
  .welcome {
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .welcome > .photoStudent > img {
    width: 10rem;
    height: 10rem;
  }

  .welcome > .description {
    width: 60%;
    padding: 8px 30px;
  }

  /* Sección gráfica media luna */
  .graphContainer > .graphCircle,
  .graphCircle > .circle {
    width: 15rem;
    height: 15rem;
  }

  /*  Descripción */
  .graphCircle > .circleInner > h3 {
    margin-top: 4rem;
  }
}

/* Responsive para Desktop */
@media only screen and (min-width: 1280px) {
  /* Porporción para menú lateral y el contenido Header y Main */
  main {
    padding: 2rem;
  }

  .flexLeft > .slideBar {
    width: 20%;
  }

  .flexRight {
    width: 76%;
  }

  /* Menu lateral */
  .menu > ul > li > a > .photoStudent,
  .photoStudent > img {
    width: 4rem;
    height: 4rem;
  }

  /* Sección Búsqueda */
  .search {
    width: 40%;
  }

  /* Sección Usuario */
  .containerHeader > .userFlex {
    width: 20rem;
  }

  .userFlex > h3 {
    font-size: 25px;
  }

  /* Main */
  /* Seccion Bienvenida */
  .description > h2 {
    text-align: left;
  }

  /* Sección gráfica media luna */
  .graphContainer > .graphCircle,
  .graphCircle > .circle {
    width: 20rem;
    height: 20rem;
  }

  /*  Descripción */
  .graphCircle > .circleInner > h3 {
    margin-top: 6rem;
  }
}
/* Edwar */
/* Daniela */
